extends ../layouts/base
 
block content
    #login.form
        h2 Log in
        #error
            if problem
                p #{problem}
        form(method="post" action="", novalidate).auth-form
            input(type='hidden', name=csrf_token_key, value=csrf_token_value)
            div.form-group
                label(for='email') Email
                input(type='email', name='email', id='email').form-control
            div.form-group
                label(for='password') Password
                input(type='password', name='password', id='password').form-control
            div.form-group
                button(type='submit').btn.btn-primary Sign In
