extends ../layouts/base
 
block content
    link(href="/css/forms.css", rel="stylesheet")

    #register.form
        h2 Register
        if typeof info !== "undefined"
            .info.message
                h5 #{info}
        if typeof error !== "undefined"
            .error.message
                h5 #{error}
        form(method="post" action="", novalidate).auth-form
            input(type='hidden', name=csrf_token_key, value=csrf_token_value)
            div.form-group
                label(for='email') Email
                input(type='email', name='email', id='email').form-control
            div.form-group
                label(for='username') Username
                input(type='username', name='username', id='username').form-control
            div.form-group
                label(for='password') Password
                input(type='password', name='password', id='password').form-control
            div.form-group
                label(for='password') Password verification
                input(type='password', name='passwordSecond', id='password').form-control
            div.form-group
                button(type='submit').btn.btn-primary Sign In
