@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic);
/* line 11, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
.message {
  padding-left: 40px; }

/* line 14, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
#main {
  padding-left: 40px; }

/* line 17, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
h2 {
  padding-left: 40px; }

/* line 20, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
.rules {
  background-color: #8cb7ee;
  border: 1px solid #6a8cb7;
  border-radius: 3px;
  text-align: left;
  width: 90%;
  max-width: 400px;
  margin-left: 40px;
  padding: 10px; }

/* line 30, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
#nav {
  display: inline; }
  /* line 32, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
  #nav ul {
    display: block;
    text-align: left;
    padding-left: 40px; }
    /* line 36, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
    #nav ul li {
      display: inline-block;
      border-radius: 3px;
      padding: 5px;
      background-color: #222; }
      /* line 41, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
      #nav ul li i {
        color: #FFF; }
      /* line 44, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
      #nav ul li a {
        color: #FFF;
        padding: 10px 9px;
        text-decoration: none;
        font-weight: 300; }

/* line 53, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
#formTypes {
  padding-left: 40px;
  display: block;
  text-align: left; }
  /* line 57, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
  #formTypes li {
    background-color: #5f69d8;
    display: inline-block;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer; }
    /* line 63, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
    #formTypes li a {
      cursor: pointer;
      color: #000;
      padding: 10px 9px;
      text-decoration: none;
      font-weight: 300; }
  /* line 71, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
  #formTypes li.active {
    background-color: #FFF;
    box-shadow: 0px 0px 14px #5f69d8 inset;
    cursor: default; }
    /* line 75, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
    #formTypes li.active a {
      color: #111;
      cursor: default; }
  /* line 80, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
  #formTypes li.newpost {
    background-color: #5f69d8; }

/* line 85, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
#form {
  padding-left: 40px;
  display: inline; }
  /* line 88, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
  #form h4 {
    text-align: left;
    color: #000000;
    font-size: 24px; }
  /* line 93, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
  #form form {
    text-align: left; }
    /* line 95, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
    #form form .form-group {
      padding: 10px 0px; }
      /* line 97, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
      #form form .form-group label {
        display: block;
        padding-bottom: 10px;
        font-size: 18px; }
      /* line 102, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
      #form form .form-group textarea {
        padding: 5px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #888;
        width: 400px;
        max-width: 600px;
        height: 100px;
        max-height: 300px; }
        /* line 111, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
        #form form .form-group textarea:focus {
          border: 1px solid #5f69d8; }
      /* line 115, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
      #form form .form-group input {
        outline: none;
        border: 1px solid #888;
        padding: 5px;
        width: 90%;
        max-width: 400px; }
        /* line 121, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
        #form form .form-group input:focus {
          border: 1px solid #5f69d8; }
      /* line 125, /Users/Charles/Development/rafdev/redditLike/public/css/newPost.scss */
      #form form .form-group .button {
        padding: 10px 16px;
        background-color: #288b1b;
        font-size: 16px;
        cursor: pointer; }

/*# sourceMappingURL=newPost.css.map */