@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic);

$main-blue: #5f69d8;
$dark-blue: #363c7b;
$clear-blue: #FFF;
$background-li:#95c2f4;
$red-troll:#be1118;
$swagg-green:#288b1b;
$padding-left:0px;

#content {
    h2 {
        font-family: Open Sans;
        font-weight: 600;
        padding-left:$padding-left;
    }
}
#main {
    padding-left: $padding-left;
}
#nav{
    ul{
        padding-left: $padding-left;
    }
}
#postsListType{
    li{
        cursor: pointer;
    }
}
.noPost{
    text-align: center;
    padding:30px 0px;
}



